<!DOCTYPE html>
<html>
  <head>
    <title>Meal Ticket</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  </head>
  <body>
    <%- include ./partials/_nav  %>
    <h1>Restaurants for Exchange</h1>
    <% restaurants.forEach(function(restaurant){ %>
        <div class="row">
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="<%= restaurant.url %>">
              </div>
              <div class="card-content">
                <h4><%= restaurant.name %></h4>
                <p><%=restaurant.address%></p>
                <!-- link needs to be updated and put surrounding the card -->
                <a href="/venue/<%=restaurant._id%>">Show</a>
              </div>
            </div>
          </div>
        </div>
      <% }) %>
  </body>
  <footer>
  </footer>
</html>
