<%- include ./partials/_head %>
<%- include ./partials/_nav  %>
    <h1>Nearby <%=venue.name%></h1>
    <% restaurants.forEach(function(restaurant){ %>
        <div class="row">
          <div class="col s12 m4">
            <a href="/venues/<%=venue._id%>/places/<%=restaurant._id%>">
              <div class="card">
                <div class="card-image">
                  <img src="<%= restaurant.url %>">
                </div>
                <div class="black-text card-content">
                  <h4><%= restaurant.name %></h4>
                  <div class="chip grey lighten-1">Average Cost: $<%=restaurant.avecost%></div>
                  <div class="chip grey lighten-1"><%= restaurant.cuisine%></div>
                  <p><%=restaurant.address%></p>
                </div>
              </div>
            </a>
          </div>
        </div>
      <% }) %>
  </body>
</html>
