<%- include ./partials/_head %>
  <div class="row">
    <div class="responsive-div col s4">
    <a href="#"><img id="hero" class="hoverable" src="http://i.imgur.com/o3bWl82.jpg" alt=""></a>
    </div>
    <div class="responsive-div col s4">
    <a href="#"><img id="hero" class="hoverable" src="http://i.imgur.com/o3bWl82.jpg" alt=""></a>
    </div>
    <div class="responsive-div col s4">
    <a href="#"><img id="hero" class="hoverable" src="http://i.imgur.com/o3bWl82.jpg" alt=""></a>
    </div>
  </div>
  <!-- Dropdown Structure -->
  <ul id="maindrop" class="dropdown-content">
    <% venues.forEach(function(venue){ %>
    <li><a href="/venues/<%=venue._id%>/places"><%= venue.name %></a></li>
    <li class="divider"></li>
    <%})%>
  </ul>
  <!-- end of Dropdown Structure -->
  <nav class="main-nav">
    <div class="nav-wrapper red darken-3">
      <ul class="left hide-on-med-and-down">
        <li><a class="dropdown-button" href="#" data-activates="maindrop">SELECT YOUR VENUE<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <a href="/" class="brand-logo center">
        <img width="95" src="http://i.imgur.com/O4w15vh.png" alt="Meal Ticket">
      </a>
      <ul class="right">
        <% if (user && user.admin) { %>
          <li><a href="/venues">Edit Venues</a></li>
        <%}%>
        <% if (user) { %>
          <li><a href="/logout" class="white-text"><i class="material-icons left white-text text-darken-3">trending_flat</i>Logout</a></li>
        <% } else { %>
          <li><a href="/auth/google" class="white-text"><i class="material-icons left white-text text-darken-3">vpn_key</i>Login</a></li>
        <% } %>
      </ul>
      <ul class="side-nav" id="mobile">
        <% venues.forEach(function(venue){ %>
        <li><a href="/venues/<%=venue._id%>/places"><%= venue.name %></a></li>
        <% }) %>
      </ul>
    </div>
    <div class="input-field">
      <input id="search" type="search" required>
      <label class="label-icon" for="search"><i class="material-icons red-text text-darken-3">search</i></label>
      <i class="material-icons">close</i>
    </div>
  </nav>
  <div class="row">
  <div class="container">
  <div class="col s6">
    <br>
    <br>
    <h4 class="card-title"><u>What's New</u></h4>
        <ul>
          <li>
            <div class="card-panel hoverable">
              <div class="card-image">
               <img class="responsive-img" src="http://i.imgur.com/o3bWl82.jpg">
              </div>
              <div class="card-content">
               <p>placeholder text</p>
              </div>
              <div class="card-action">
               <a href="#">placeholder link</a>
              </div>
            </div>
          </li>
          <li>
            <div class="card-panel hoverable">
              <div class="card-image">
               <img class="responsive-img" src="">
              </div>
              <div class="card-content">
               <p>placeholder text</p>
              </div>
              <div class="card-action">
               <a href="#">placeholder link</a>
              </div>
            </div>
          </li>
          <li>
            <div class="card-panel hoverable">
              <div class="card-image">
               <img class="responsive-img" src="">
              </div>
              <div class="card-content">
               <p>placeholder text</p>
              </div>
              <div class="card-action">
               <a href="#">placeholder link</a>
              </div>
            </div>
          </li>
        </ul>
    </div>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="col s6">
      <div id="local-table">
      <h4 class="title"><i class="small material-icons">room</i> LOCAL EATS</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi pariatur voluptates temporibus, neque veniam praesentium saepe, ad sed! Perspiciatis, sunt sed odio earum iure voluptatibus vel nulla delectus consequuntur aut.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi pariatur voluptates temporibus, neque veniam praesentium saepe, ad sed! Perspiciatis, sunt sed odio earum iure voluptatibus vel nulla delectus consequuntur aut.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi pariatur voluptates temporibus, neque veniam praesentium saepe, ad sed! Perspiciatis, sunt sed odio earum iure voluptatibus vel nulla delectus consequuntur aut.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi pariatur voluptates temporibus, neque veniam praesentium saepe, ad sed! Perspiciatis, sunt sed odio earum iure voluptatibus vel nulla delectus consequuntur aut.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi pariatur voluptates temporibus, neque veniam praesentium saepe, ad sed! Perspiciatis, sunt sed odio earum iure voluptatibus vel nulla delectus consequuntur aut.</p>
      </div>
    </div>
  </div>
</div>
</body>
<footer class="page-footer grey darken-1">
  <div class="container">
    <div class="row">
      <div class="col m6 s12">
        <!-- <h5 class="white-text">Footer Content</h5> -->
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h6 class="white-text">Our Sponsors</h6>
          <span>
            <i class="red-text text-lighten-2 small material-icons">high_quality</i>
            <a class="grey-text text-lighten-3" href="https://github.com/jtamsut">Nmste</a>
          </span>
          &nbsp;
          &nbsp;
          <span>
            <i class="red-text text-lighten-2 small material-icons">assignment_ind</i>
            <a class="grey-text text-lighten-3" href="https://github.com/jim-clark">GyTh</a>
          </span>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright
      <a class="red-text text-lighten-2 right" href="#!"><i class="material-icons">star</i></a>
    </div>
  </div>
</footer>
</html>

