<%- include ./partials/_head %>
  <div id="topbanner" class="row" style="margin-bottom: 20px;">
    <div class="col s4" ><a href="#"><img width="480" height="380" src="http://i.imgur.com/o3bWl82.jpg" alt=""></a></div>
    <div class="col s4" ><a href="#"><img width="480" height="380" src="http://i.imgur.com/o3bWl82.jpg" alt=""></a></div>
    <div class="col s4" ><a href="#"><img width="480" height="380" src="http://i.imgur.com/o3bWl82.jpg" alt=""></a></div>
  </div>

  <!-- Dropdown Structure -->
  <ul id="maindrop" class="dropdown-content">
    <% venues.forEach(function(venue){ %>
    <li><a href="/venues/<%=venue._id%>/places"><%= venue.name %></a></li>
    <li class="divider"></li>
    <%})%>
  </ul>
  <!-- end of Dropdown Structure -->

  <nav class="main-nav">
    <div class="nav-wrapper red darken-3">
      <ul class="left hide-on-med-and-down">
        <li><a class="dropdown-button" href="#" data-activates="maindrop">SELECT YOUR VENUE<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <a href="/" class="brand-logo center">
        <img width="100" src="http://i.imgur.com/O4w15vh.png" alt="Meal Ticket">
      </a>
      <ul class="right">
        <% if (user) { %>
          <li><a href="/logout" class="white-text"><i class="material-icons left white-text text-darken-3">trending_flat</i>Logout</a></li>
        <% } else { %>
          <li><a href="/auth/google" class="white-text"><i class="material-icons left white-text text-darken-3">vpn_key</i>Login</a></li>
        <% } %>
      </ul>
      <ul class="side-nav" id="mobile">
        <% venues.forEach(function(venue){ %>
        <li><a href="/venues/<%=venue._id%>/places"><%= venue.name %></a></li>
        <% }) %>
      </ul>
    </div>
  </nav>
  <div class="row">
  <div class="container">
  <div class="col s6">
    <h4 class="card-title"><u>What's New</u></h4>
        <ul>
          <li>
            <div class="card-panel hoverable">
              <div class="card-image">
               <img width="300" height="200" src="http://i.imgur.com/o3bWl82.jpg">
              </div>
              <div class="card-content">
               <p>placeholder text</p>
              </div>
              <div class="card-action">
               <a href="#">placeholder link</a>
              </div>
            </div>
          </li>
          <li>
            <div class="card-panel hoverable">
              <div class="card-image">
               <img width="300" height="200" src="">
              </div>
              <div class="card-content">
               <p>placeholder text</p>
              </div>
              <div class="card-action">
               <a href="#">placeholder link</a>
              </div>
            </div>
          </li>
          <li>
            <div class="card-panel hoverable">
              <div class="card-image">
               <img width="300" height="200" src="">
              </div>
              <div class="card-content">
               <p>placeholder text</p>
              </div>
              <div class="card-action">
               <a href="#">placeholder link</a>
              </div>
            </div>
          </li>
        </ul>
    </div>
  </div>
  <div class="container">
    <div class="col s6">
      <div id="local-table">
      <h4 class="title"><i class="small material-icons">room</i> LOCAL EATS</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi pariatur voluptates temporibus, neque veniam praesentium saepe, ad sed! Perspiciatis, sunt sed odio earum iure voluptatibus vel nulla delectus consequuntur aut.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi pariatur voluptates temporibus, neque veniam praesentium saepe, ad sed! Perspiciatis, sunt sed odio earum iure voluptatibus vel nulla delectus consequuntur aut.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi pariatur voluptates temporibus, neque veniam praesentium saepe, ad sed! Perspiciatis, sunt sed odio earum iure voluptatibus vel nulla delectus consequuntur aut.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi pariatur voluptates temporibus, neque veniam praesentium saepe, ad sed! Perspiciatis, sunt sed odio earum iure voluptatibus vel nulla delectus consequuntur aut.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi pariatur voluptates temporibus, neque veniam praesentium saepe, ad sed! Perspiciatis, sunt sed odio earum iure voluptatibus vel nulla delectus consequuntur aut.</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>

